@font-face {
font-family: 'riogrande-striped-bold';
font-style: normal;
font-weight: normal;
src: url('fonts/riogrande-striped.woff') format('woff');
}

@font-face {
font-family: 'duality-regular';
font-style: normal;
font-weight: normal;
src: url('fonts/duality.woff') format('woff');
}

/*body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}*/


p {
    font-family: 'duality-regular';
    font-size: 20px;
}

h1 {
    font-family: 'riogrande-striped-bold';
    font-size: 60px;
    color: #8A0829;
}


h2 {
    font-family: 'duality-regular';
    font-size: 60px;
}

/*.section {
    padding-top: 50px;
    padding-bottom: 50px;
}*/

.intro {
	background-color: #F0FFFF;
}

.mid-top {
    margin-top: -300px;
}

.mid-bottom {
	padding-bottom: -300px;
}

.mirror {
	background-image: url("../img/mirror.jpg");
    background-size: cover;
    background-color: #000000;
    background-position: 50% 20%;
    color: #FFFFFF;
}

.guillotine {
	background-image: url("../img/guillotine.jpg");
    background-size: cover;
    background-color: #000000;
    background-position: 50% 80%;
    color: #FFFFFF;
}

.ropewalker {
	/*background-image: url("../img/guillotine.jpg");*/
    /*background-size: cover;*/
    background-color: #000000;
    /*background-position: 50% 90%;	*/
    color: #FFFFFF;
}

.team {
	background-color: #F5F5DC;
}

.other_works {
    background-image: url("../img/red_tree.jpg");
    background-size: cover;
    background-color: #000000;
    /*background-position: 50% 90%; */
    color: #FFFFFF;
}
